@model ErrorViewModel
@{
    ViewData["Title"] = "Erro";
}



@{
    if (Model == null)
    {
        <div>
            <h1 class="text-danger">Ops!</h1>
            <h2 class="text-danger">Ocorreu um erro!</h2>
        </div>
    }
    else
    {
        <div>
            <h1 class="text-danger">@Html.Raw(Model.Titulo)</h1>
            <h2 class="text-danger">@Html.Raw(Model.Mensagem)</h2>
        </div>
    }
}
