@model CadastroFornecedores.ViewModels.ProdutoViewModel
@{
    ViewData["Title"] = Model.Nome;
 }

<h1 style="padding-top: 50px">@ViewData["Title"]</h1>
<hr />
<div  class="row">
    <partial name="_Details">
    <div>
        <a class="btn btn-dark" asp-action="Edit" asp-route-id="@Model.Id">Editar</a>
        <a class="btn btn-info" href="javascript:window.history.back();">Voltar</a>
    </div>
</div>