@model IEnumerable<CadastroFornecedores.ViewModels.ProdutoViewModel>

@{
    ViewData["Title"] = "Produtos";
 }

<h1>@ViewData["Title"]</h1>

<p>
    <a class="btn btn-info" asp-action="Create">Novo Produto</a>
</p>

<vc:errors-summary-component></vc:errors-summary-component>

<partial name="_ListaProdutos">

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

